# Contentful
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_ENVIRONMENT_ID=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Raindrop
NEXT_PUBLIC_RAINDROP_ACCESS_TOKEN=
RAINDROP_COLLECTION_IDS=[]

# On-Demand Revalidation
NEXT_REVALIDATE_SECRET=

# Tinybird Analytics
NEXT_PUBLIC_TINYBIRD_TOKEN=

NEXT_PUBLIC_TINYBIRD_URL=https://api.us-east.tinybird.co

# Airtable
AIRTABLE_PERSONAL_ACCESS_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_BOOKMARKS_TABLE_ID=
